* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:root {
    --primario: #5a3307;
    --secundario: #eeea08;
    --oscuro: #ffffff;
}

html {
    font-size: 75%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

body {
    font-family: sans-serif;
    padding: 90px 30px 0;
}

.header {
    background-color: #e07e0de0;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: var(--primario);
    color: var(--oscuro);
}


/* TOGGLE */

.nav-toggle {
    color: rgb(236, 13, 13);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}


/* MOBILE */

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }
    .header {
        height: 60px;
    }
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #d8b105c2;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item {
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #0f1f2b;
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

.section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 105, 112, 0.9);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 105, 112, 0.9);
    box-shadow: 0px 5px 15px 0px rgba(112, 105, 112, 0.9);
    background-color: var(--grisClaro);
    padding: 2rem;
    border-radius: 1rem;
}

h1 {
    font-size: 3.8rem;
}

p {
    font-size: 2rem;
}

p {
    text-align: justify;
}

b {
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    font-size: 2.8rem;
}

h5 {
    font-size: 1.8rem;
}

h1,
h2,
h3,h5 {
    text-align: center;
}

/*media*/

/* Carrito (vista)*/
.table {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 1rem 0;*/
    text-align: center;
}
table th {
    text-align: center;
}
table tr {
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (min-width: 100px) {
    .row {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (min-width: 500px) {
    .row {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (min-width: 900px) {
    .row {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1100px) {
    .row {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

/* PRODUCTOS */

.rating span {
    font-size: 2rem;
    color: var(--amarillo);
}

.contenedor2 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
.productos {
    padding: 1rem 0;
}

.productos__center {
    padding: 0 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem 1rem;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
}

.card-img-top{
    height: 300px;
    width: 300px;
} 

.card-body {
    padding: 1rem;
    width: 100%;
}

.btn-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.productos__footer h1 {
    height: 28px;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 500;
}

.rating {
    margin: 0rem 0;
}

/*
.btn-carrito {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20rem 0;
    text-align: center;
    
}*/

.btn-danger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 1rem 0;*/
    text-align: center;
}

.btn, .btn-info {
    display: inline-block;
    border: 1px solid #ccc;
    padding: .5rem 2rem;
    color: var(--black);
    font-weight: 500;
    font-size: 1 rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-decoration: none;
    text-align: center;
    
}

.btn:hover {
    background-color: var(--secundario);
    color: var(--white);
    border: 1px solid var(--secundario);
}

p{
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}
.price{
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(0, 0, 128);
}

/* Detalles */
.texto-justificado{
text-align: justify;
font-weight: normal;
line-height: 200%;
}


.detalles{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.detalle-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
}
.detalles .img-fluid{
    max-width: 500px;
    width: 100%;
    margin: 5rem auto;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .2);
    
} 
.detalles-content{
    padding: 2rem;
}
.detalles-content h3{
    font-weight: 600;
    text-transform: uppercase;
}
.detalles-content .precio span{
    color: var(--secundario);
    font-size: 2rem;
    font-weight: 600;
}
.detalles-content .description{
    padding-top: 2rem;
}
.detalles-content .description span{
    line-height: 2.8rem;
}
@media only screen and (max-width: 840px){
    .detalle-grid{
        grid-template-columns: 1fr;
    }
}