meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Nicesport
link(rel="stylesheet", href="css/style.css")
script(defer, src="index.js")
header.header
  nav.nav
    a.logo.nav-link(href="#") Nicesport
    button.nav-toggle(aria-label="Abrir menú")
      i.fas.fa-bars
    ul.nav-menu
      li.nav-menu-item
        a.nav-menu-link.nav-link(href="index.html") TIENDA
      li.nav-menu-item
        a.nav-menu-link.nav-link(href="nosotros.html") NOSOTROS
      li.nav-menu-item
        a.nav-menu-link.nav-link.nav-menu-link_active(href="contactanos.html") CONTACTANOS
      li.nav-menu-item
        a.nav-menu-link.nav-link(href="carrito.html") CARRITO
main
  main.contenedor.sombra
    h2 CONTACTANOS
    .servicios
      section.servicio
        h3 Diseño web
        p Nos ubicamos en la 125 av entre Adolfo Rosado Salas y 3 sur
       div(text-align="center")
       iframe( src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d641.8598122291343!2d-86.93333821393263!3d20.493898932007347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1669873671967!5m2!1ses!2smx" width="300" height="200" style="border:0;" align-items="center" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quas repellat animi ab. Illum repellendus quibusdam nobis inventore veniam voluptates adipisci pariatur necessitatibus aliquam sequi. Nemo obcaecati totam modi optio.