meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title NovaSport
link(rel="stylesheet", href="css/style.css")
style.interlineado (line-height: 200%;)
script(defer, src="index.js")
header.header
  nav.nav
    a.logo.nav-link(href="#") NovaSport
    button.nav-toggle(aria-label="Abrir menú")
      i.fas.fa-bars
    ul.nav-menu
      li.nav-menu-item
        a.nav-menu-link.nav-link(href="index.html") TIENDA
      li.nav-menu-item
        a.nav-menu-link.nav-link.nav-menu-link_active(href="nosotros.html") NOSOTROS
      li.nav-menu-item
        a.nav-menu-link.nav-link(href="contactanos.html") CONTACTANOS
      li.nav-menu-item
        a.nav-menu-link.nav-link(href="carrito.html") CARRITO
main.contenedor.sombra
  h2 Información de nuestra empresa
  br
  .servicios
    section.servicio
      br
      h2 ¿Quiénes somos?
      .image__container
        div(align="center")
          img(src="IMG/Logo de empresa.PNG")
      p NovaSport es una empresa Cozumeleña 100% familiar surgió gracias al despido del dueño de su anterior trabajo, lo cual lo alentó a crear su propia empresa en el año 2013. NovaSport se especializa en la venta de artículos deportivos Actualmente la empresa busca tener una página web que le permita a su negocio poder implementar las ventas en línea, además de tener su base de datos propia para poder almacenar los productos que se muestran en la página. Actualmente solo trabajan en una tienda física, pero a recomendación de clientes les gustaría una página en línea para que salir de compras o realizar las compras sea de una manera más sencilla y rápida. Además de que el alcance será aún mayor y el negocio puede crecer aún más
    br
    section.servicio
      br
      h2 Misión y visión de la empresa
      br
      div(align="center")
        img(src="IMG/Mision-vision.PNG")
  h3 Misión
  br
  p
    | Comercializar artículos deportivos a nivel nacional. Y ofrecerles a nuestros clientes productos de alta calidad, para así cumplir con las necesidades de nuestros clientes ofreciéndoles mayor calidad y comodidad.

    br
    br
  h3 Visión
  br
  p Nuestra visión es poder llegar a ser una empresa reconocida a nivel nacional por nuestra calidad y buen servicio que ofrecemos a nuestros clientes.
  br
  br
  h3 Valores
  br
  p.
    Actuamos con integridad, responsabilidad y respeto.Trabajamos por el bienestar de todos los miembros de la compañía y nuestras familias.Valoramos a nuestros clientes y estamos comprometidos a brindarles servicio de excelencia, capacitándonos constantemente para ofrecer una mejora continua y somos eficaces, eficientes con el uso de los recursos. Aparte de todo esto trabajamos con pasión.
    
  br
  h2 Objetivo
  br
  div(align="center")
    img(src="IMG/Objetivos.png")
  br
  p.
    
    La empresa se crea con el objeto de ampliar la oferta de actividades deportivasy satisfacer las necesidades de una sociedad cada vez más demandante de actividad física. Surge así, después de realizar estudios de mercado, la necesidad de ofrecer programas atractivos e innovadores como los que proponemos.